:root {
    --cor1: #926daa;
    --cor2: #fce4ff;
    --cor3: #713497;
    --cor4: #008040;
    --cor5: #004000;
    --withe: #f1ffe7;
    --black: #353535;
}

* {
    margin: 0px;
}

body {
    background-image: url(imgs/fundobb.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--black);
}

main {
    background-color: var(--withe);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 55rem;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header img {
    width: 250px;
    height: 200px;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

article {
    font-size: 30px;
}

h2,
h3 {
    text-align: center;
    /* titulos no centro */
}

p {
    text-align: start;
    padding: 0 100px;
}

.campo_resposta {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}
input {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 25px;
    font-size: 20px;
    padding: 0 10px;
    color: var(--black);
    border-bottom: 3px solid var(--black);
}

input:hover {
    border-bottom: 3px solid var(--cor1);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    border-radius: 5px;
    outline: none;
    color: var(--withe);
    width: 130px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor1);
    border: 2px solid var(--cor3);
}
button.btn_inicio_fim {
    width: 250px;
    height: 45px;
    font-size: 20px;
}

/* ~~~~~~~~~~ configurando as imgs das flores espalhadas pelo site ~~~~~~~~~*/
div.flor{ /* para flores que ficam a direita */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.flor img{
    width: 200px;
    height: 200px;
    margin: 35px;
    filter: drop-shadow(-4px 5px 0 var(--cor1));
}
div.flor p{
    padding: 0 35px;
}

/* ~~~~~ alinhando ao centro os textos de inicio e fim ~~~~~~~~*/
#secao_inicial p {
    text-align: center;
}

#secao_final p {
    text-align: center;
}

/*~~~~~~~~~~~*/
@media (max-width: 1200px) {
  main {
    width: 45rem;
  }
}
@media (max-width: 992px) {
  main {
    width: 38rem;
  }

  article {
    font-size: 25px;
  }
  p {
    padding: 0px 35px;
  }
}
@media (max-width: 768px) {
  main {
    width: 90%; /* usa porcentagem para não ficar apertado */
  }

  header img {
    width: 200px;
    height: 150px;
  }

  article {
    font-size: 20px;
  }

  input {
    width: 200px;
  }

  div.flor {
    display: flex;
    flex-direction: column;
  }
  div.flor img{
    margin: 0px;
  }

  button.btn_inicio_fim {
    width: 130px;
    height: 35px;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  main {
    width: 95%;
  }
}

.hidden {
  display: none !important;
}

/*~~~~~~~~~~ configuraçao do botao para instalaçao do app ~~~~~~~*/
.btn-install {
    position: fixed;
    bottom: 200px;
    right: 35px;
    height: 40px;
    padding: 20px;
    background: var(--cor2);
    color: var(--black);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* você pode ajustar */
    font-weight: bold;
    text-align: center;
    box-shadow: -5px 4px 1px rgba(0,0,0,0.2);
    transition: background 0.3s ease;
}

.btn-install:hover {
    background: #f9caff;
}
